---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import portrait from "../content/photos/portrait.jpg";
import kitty from "../content/photos/kitty.jpg";

function getAge(birthDateString: string): number {
  const today = new Date();
  const birthDate = new Date(birthDateString);

  let age = today.getFullYear() - birthDate.getFullYear();

  const hasHadBirthday =
    today.getMonth() > birthDate.getMonth() ||
    (today.getMonth() === birthDate.getMonth() &&
     today.getDate() >= birthDate.getDate());

  if (!hasHadBirthday) age--;

  return age;
}
const age = getAge("2001-11-03");
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, this is Patrick!</h1>
			<div class="flex items-center gap-6">
				<div class="pswp-gallery" id="profile-gallery">
					<a
					href={portrait.src}
					data-pswp-width={portrait.width}
					data-pswp-height={portrait.height}
					target="_blank"
					rel="noreferrer"
					class="block"
					>
					<img
						src={portrait.src}
						alt="This is me :)"
						width={portrait.width}
						height={portrait.height}
						class="size-200 !rounded-full object-cover shadow-lg"
					/>
					</a>
				</div>

				<p>
					Welcome to my Website! I am a {age}-year-old software developer and data engineer from Germany.
					On here, I share my interests travelling and whatever elese comes to my mind. Take a look around!
				</p>
			</div>
			<p class="mt-5">
				This website is a side project of mine, built with <a href="https://astro.build">Astro</a>, containerized 
				with Docker, and deployed in a CI/CD pipeline using GitHub Actions. Anyways, here is a picture of my cat:
			</p>
			<div class="pswp-gallery" id="profile-gallery">
					<a
					href={kitty.src}
					data-pswp-width={kitty.width}
					data-pswp-height={kitty.height}
					target="_blank"
					rel="noreferrer"
					class="block"
					>
					<img
						src={kitty.src}
						alt="This is my cat :)"
						width={kitty.width}
						height={kitty.height}
						class="size-400 object-cover shadow-lg"
					/>
					</a>
				</div>
		</main>	
		<Footer />
	</body>
</html>

<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";

	const lightbox = new PhotoSwipeLightbox({
		gallery: "#profile-gallery",
		children: "a",
		pswpModule: () => import("photoswipe"),
	});

	lightbox.on('uiRegister', function() {
	lightbox.pswp.ui.registerElement({
		name: 'custom-caption',
		order: 9,
		isButton: false,
		appendTo: 'root',
		html: 'Caption text',
		onInit: (el, pswp) => {
		lightbox.pswp.on('change', () => {
			const currSlideElement = lightbox.pswp.currSlide.data.element;
			
			let captionHTML = '';
			if (currSlideElement) {
				const hiddenCaption = currSlideElement.querySelector('.hidden-caption-content');
				captionHTML = currSlideElement.querySelector('img').getAttribute('alt');
			}
			el.innerHTML = captionHTML || '';
		});
		}
	});
});

  lightbox.init();
</script>